.movie-list {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;

}

.movie-card-container {
  display: flex;
  flex-wrap: wrap;
}

.movie-list__loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
}

.movie-list__error {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}

.ant-row {
  display: flex;
  flex-wrap: wrap;
  gap: 0px
  
}